In [4]:
using DataFrames, PlotlyJS

In [23]:
function CX(R::Float64, Ω::Float64, sum::Float64, i::Float64)
    return (R * ( ( cosd(Ω) * (cosd(sum)) ) - ( sind(Ω) * (sind(sum)) * cosd(i) ) ))
end

function CY(R::Float64, Ω::Float64, sum::Float64, i::Float64)
    return R * ((sind(Ω) * cosd(sum)) + (cosd(Ω) * sind(sum) * cosd(i)))
end

function CZ(R::Float64, sum::Float64, i::Float64)
    return R * sind(sum) * sind(i)
end

CZ (generic function with 1 method)

In [15]:
mtable = DataFrame("PLANET" => ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"],
"R" => [6.8469801847569176e10, 1.076024874372254e11, 1.5208381145385138e11, 2.4923140415851627e11, 8.132707862934507e11, 1.459605242508727e12, 2.7364233118704424e12, 4.459668990763222e12],
"Ω" => [48.96554378692674, 77.1617374593507, 0.0, 49.9698527870441, 100.99517338890902, 114.13036750085416, 74.27363045974306, 132.37018115337153],
"i" => [7.005677001215277, 3.395137350668403, 0.0, 1.849352187567361, 1.299957618215625, 2.4864877233725693, 0.7736712604618056, 1.7650172938020834],
"ω" => [29.322321822565275, 55.161383132325696, 283.8606081346337, 287.074046506058, 274.1991431698385, 339.97553031748157, 97.2584408428993, 272.7283322735104],
"ν" => [202.4890023559799, 34.100412699960394, 174.87303451576858, 178.31855079446123, 201.29148106429466, 244.63463230877008, 12.885027872632644, 17.69172404564677])

8×6 DataFrame
 Row │ PLANET   R           Ω         i         ω         ν
     │ String   Float64     Float64   Float64   Float64   Float64
─────┼─────────────────────────────────────────────────────────────
   1 │ Mercury  6.84698e10   48.9655  7.00568    29.3223  202.489
   2 │ Venus    1.07602e11   77.1617  3.39514    55.1614   34.1004
   3 │ Earth    1.52084e11    0.0     0.0       283.861   174.873
   4 │ Mars     2.49231e11   49.9699  1.84935   287.074   178.319
   5 │ Jupiter  8.13271e11  100.995   1.29996   274.199   201.291
   6 │ Saturn   1.45961e12  114.13    2.48649   339.976   244.635
   7 │ Uranus   2.73642e12   74.2736  0.773671   97.2584   12.885
   8 │ Neptune  4.45967e12  132.37    1.76502   272.728    17.6917

In [16]:
mtable[!, "SUM"] = mtable[!, :ω] + mtable[!, :ν]

8-element Vector{Float64}:
 231.81132417854516
  89.26179583228608
 458.7336426504023
 465.39259730051924
 475.4906242341332
 584.6101626262516
 110.14346871553195
 290.42005631915714

In [45]:
function setRange1(angle)
    return mod((angle+180),360) - 180
end

function setRange2(angle)
    c = cosd(angle)
    s = sind(angle)
    return atand(c,s)    
end

setRange2 (generic function with 1 method)

In [46]:
mtable[!,"COS_SUM"] = cosd.(mtable[!, "SUM"])
mtable[!,"SIN_SUM"] = sind.(mtable[!, "SUM"])
;

In [38]:
mtable[!,"XS"] = CX.(mtable[!,:R], mtable[!, :Ω], mtable[!, :SUM], mtable[!, :i])
mtable[!,"YS"] = CY.(mtable[!,:R], mtable[!, :Ω], mtable[!, :SUM], mtable[!, :i])
mtable[!,"ZS"] = CZ.(mtable[!,:R], mtable[!, :SUM], mtable[!, :i])
;

In [47]:
mtable[!, "setRange1"] = setRange1.(mtable[!, :SUM])
mtable[!,"COS_setRange1"] = cosd.(mtable[!, :setRange1])
mtable[!,"SIN_setRange1"] = sind.(mtable[!, :setRange1])
mtable[!,"XSR1"] = CX.(mtable[!,:R], mtable[!, :Ω], mtable[!, :setRange1], mtable[!, :i])
mtable[!,"YSR1"] = CY.(mtable[!,:R], mtable[!, :Ω], mtable[!, :setRange1], mtable[!, :i])
mtable[!,"ZSR1"] = CZ.(mtable[!,:R], mtable[!, :setRange1], mtable[!, :i])
;

In [48]:
mtable[!, "setRange2"] = setRange1.(mtable[!, :SUM])
mtable[!,"COS_setRange2"] = cosd.(mtable[!, :setRange2])
mtable[!,"SIN_setRange2"] = sind.(mtable[!, :setRange2])
mtable[!,"XSR2"] = CX.(mtable[!,:R], mtable[!, :Ω], mtable[!, :setRange2], mtable[!, :i])
mtable[!,"YSR2"] = CY.(mtable[!,:R], mtable[!, :Ω], mtable[!, :setRange2], mtable[!, :i])
mtable[!,"ZSR2"] = CZ.(mtable[!,:R], mtable[!, :setRange2], mtable[!, :i])
;

In [44]:
show(mtable, allcols=true)

8×24 DataFrame
 Row │ PLANET   R           Ω         i         ω         ν         SUM       COS_SUM     SIN_SUM    XS           YS           ZS           setRange1  COS_setRange1  SIN_setRange1  XSR1         YSR1         ZSR1         setRange2  COS_setRange2  SIN_setRange2  XSR2         YSR2         ZSR2
     │ String   Float64     Float64   Float64   Float64   Float64   Float64   Float64     Float64    Float64      Float64      Float64      Float64    Float64        Float64        Float64      Float64      Float64      Float64    Float64        Float64        Float64      Float64      Float64
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ Mercury  6.84698e10   48.9655  7.00568    29.3223  202.489   231.811   -0.618253   -0.785979   1.24997e10  -6.69984e10  -6.56379e9   -128.189      -0.618253       -0.785979   1.24997e10  -6.69984e10  -6.56379e9   -128.189      -0.618253       -0.785979   1.24997e10  -6.69984e10  -6.56379e9
   2 │ Venus    1.07602e11   77.1617  3.39514    55.1614   34.1004   89.2618   0.0128837   0.999917  -1.04412e11   2.5217e10    6.37187e9     89.2618      0.0128837       0.999917  -1.04412e11   2.5217e10    6.37187e9     89.2618      0.0128837       0.999917  -1.04412e11   2.5217e10    6.37187e9
   3 │ Earth    1.52084e11    0.0     0.0       283.861   174.873   458.734   -0.151841    0.988405  -2.30926e10   1.5032e11    0.0           98.7336     -0.151841        0.988405  -2.30926e10   1.5032e11    0.0           98.7336     -0.151841        0.988405  -2.30926e10   1.5032e11    0.0
   4 │ Mars     2.49231e11   49.9699  1.84935   287.074   178.319   465.393   -0.265432    0.96413   -2.26446e11   1.03818e11   7.75461e9    105.393      -0.265432        0.96413   -2.26446e11   1.03818e11   7.75461e9    105.393      -0.265432        0.96413   -2.26446e11   1.03818e11   7.75461e9
   5 │ Jupiter  8.13271e11  100.995   1.29996   274.199   201.291   475.491   -0.430363    0.902656  -6.53688e11  -4.83554e11   1.66543e10   115.491      -0.430363        0.902656  -6.53688e11  -4.83554e11   1.66543e10   115.491      -0.430363        0.902656  -6.53688e11  -4.83554e11   1.66543e10
   6 │ Saturn   1.45961e12  114.13    2.48649   339.976   244.635   584.61    -0.711901   -0.702279   1.3594e12   -5.29636e11  -4.44706e10  -135.39       -0.711901       -0.702279   1.3594e12   -5.29636e11  -4.44706e10  -135.39       -0.711901       -0.702279   1.3594e12   -5.29636e11  -4.44706e10
   7 │ Uranus   2.73642e12   74.2736  0.773671   97.2584   12.885   110.143   -0.344372    0.938833  -2.72807e12  -2.10813e11   3.4689e10    110.143      -0.344372        0.938833  -2.72807e12  -2.10813e11   3.4689e10    110.143      -0.344372        0.938833  -2.72807e12  -2.10813e11   3.4689e10
   8 │ Neptune  4.45967e12  132.37    1.76502   272.728    17.6917  290.42     0.3489     -0.93716    2.03772e12   3.96482e12  -1.28728e11   -69.5799      0.3489         -0.93716    2.03772e12   3.96482e12  -1.28728e11   -69.5799      0.3489         -0.93716    2.03772e12   3.96482e12  -1.28728e11